<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

    <bean id="duke" class="science.freeabyss.hulk.demo.spring.springido1.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="connet29" class="science.freeabyss.hulk.demo.spring.springido1.Sonnet29"/>
    <bean id="poeticDuke" class="science.freeabyss.hulk.demo.spring.springido1.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="connet29"/>
    </bean>
    <bean id="theStage" class="science.freeabyss.hulk.demo.spring.springido1.Stage" factory-method="getInstance"/>

    <bean id="auditorium" class="science.freeabyss.hulk.demo.spring.springido1.Auditorium" init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="kenny" class="science.freeabyss.hulk.demo.spring.springido1.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
    </bean>

    <bean id="saxophone" class="science.freeabyss.hulk.demo.spring.springido1.instrument.Saxophone"/>
    <bean id="piano" class="science.freeabyss.hulk.demo.spring.springido1.instrument.Piano"/>
    <bean id="guitar" class="science.freeabyss.hulk.demo.spring.springido1.instrument.Guitar"/>
    <bean id="cymbal" class="science.freeabyss.hulk.demo.spring.springido1.instrument.Cymbal"/>

    <bean id="kenny2" class="science.freeabyss.hulk.demo.spring.springido1.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument">
            <bean class="science.freeabyss.hulk.demo.spring.springido1.instrument.Piano"/>
        </property>
    </bean>

    <bean id="kenny3" class="science.freeabyss.hulk.demo.spring.springido1.Instrumentalist" p:instrument-ref="saxophone" p:song="Jingle Bells"/>

    <bean id="hank" class="science.freeabyss.hulk.demo.spring.springido1.OneManBand">
        <property name="instruments">
            <list>
                <!--<ref bean="guitar"/>-->
                <ref bean="cymbal"/>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
            </list>
        </property>
    </bean>

    <bean id="audience" class="science.freeabyss.hulk.demo.spring.springido1.Audience"/>
    <bean id="magician" class="science.freeabyss.hulk.demo.spring.springido1.Magician"/>
    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression="execution(* science.freeabyss.hulk.demo.spring.springido1.Performer.perform(..))"/>
            <aop:before method="takeSeats" pointcut-ref="performance"/>
            <aop:before method="turnOffCellPhones" pointcut-ref="performance"/>
            <aop:after-returning method="applaud" pointcut-ref="performance"/>
            <aop:after-throwing method="demandRefund" pointcut-ref="performance"/>
        </aop:aspect>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
                          expression="execution(* science.freeabyss.hulk.demo.spring.springido1.Thinker.thinkOfSomething(String)) and args(thoughts)"/>
            <aop:before method="interceptThoughts" pointcut-ref="thinking" arg-names="thoughts"/>
            <aop:declare-parents types-matching="science.freeabyss.hulk.demo.spring.springido1.Performer+"
                                 implement-interface="science.freeabyss.hulk.demo.spring.springido1.Contestant"
                                 default-impl="science.freeabyss.hulk.demo.spring.springido1.GraciousContestant"/>
            <aop:pointcut id="receive" expression="exection(* science.freeabyss.hulk.demo.spring.springido1.Performer.receiveAwared(..)"/>

        </aop:aspect>
    </aop:config>
</beans>

